{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script src="{% static 'scripts1.js' %}"></script>
{% endblock %}
{% block title %}
Create Order
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>Menu</h1>
  <br>
  <p class="lead"><em>Please choose a category to view related menu items</em></p>
</div>
<div class='menuHeader'>
  {% for category in categories %}
  <p class="lead" data-section="{{ category }}">{{ category }}</p>
  {% endfor %}
</div>
<div class="hero-image">
  <div class="hero-text">
    <h1 class="display-4">Pasta</h1>
  </div>
</div>
<p class="lead notice"><i><a href="https://en.wikipedia.org/wiki/Sicilian_pizza">Sicilian style</a> pizza is similar to deep dish, but square. Normal style has thin crust.</i></p>
<table class="table">
  <thead>
    <tr>
    <th colspan="4">Item Name</th>
    <th>Small</th>
    <th>Large</th>
    </tr>
  </thead>
  {% for category in categories %}
  <tbody id="{{ category }}">
    {% for menuItem in category.menuitem_set.all %}
    <tr>
      <td colspan="4">{{ menuItem }}</td>
      {% if category.name == 'PST' %}
      <td colspan="2" class="itemRegularListing">{{ menuItem.priceSmall }}<button class="btn btn-primary btn-sm">Add</button><span hidden><a href ="{% url 'addGeneralItem' menuItem.id %}"</span></td>
      {% elif category.name == 'SLD' %}
      <td colspan="2" class="itemRegularListing">{{ menuItem.priceSmall }}<button class="btn btn-primary btn-sm">Add</button><span hidden><a href ="{% url 'addGeneralItem' menuItem.id %}"</span></td>
      {% else %}
      <td>{{ menuItem.priceSmall }}</td>
      <td>{{ menuItem.priceLarge }}<button class="btn btn-primary btn-sm">Add</button><span hidden><a href ="{% url 'addGeneralItem' menuItem.id %}"</span></td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
{% endfor %}
</table>

{% endblock %}
