{% extends 'base.html' %}
{% load static %}
{% block title %}
Create Order
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>Menu</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="4">Name</th>
      <th>Small</th>
      <th>Large</th>
    </tr>
  </thead>
  {% for category in categories %}
  <tr>
    <th>{{ category }}</th>
  </tr>
  {% for item in menuItems %}
  {% if menuItem.category == "category" %}
  <tr>
    <td colspan="4">{{ menuItem.name }}</td>
    {% if menuItem.priceSmall == menuItem.priceLarge %}
    <td colspan="2">{{ menuItem.priceSmall }}</td>
    {% else %}
    <td>{{ menuItem.priceSmall }}</td>
    <td>{{ menuItem.priceLarge }}</td>
    {% endif %}
  </tr>
  {% endif %}
  {% endfor %}
  {% endfor %}
</table>
{% endblock %}
