{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script src="{% static 'scripts3.js' %}"></script>
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}
Edit Item
{% endblock %}

{% block body %}

<h1 class="specialHeader"><i class="fas fa-pizza-slice"></i>Edit Item<button class="btn btn-primary">Back</button></h1>
<div class="form-group row mx-auto" id="orderForm">


  <label class="col-form-label col-lg-4">Item:</label>
  <label class="col-form-label col-lg-8"><b>{{ item }}</b></label>
</div>
<form class="form mx-auto" method="POST" id="orderForm">

  {% csrf_token %}

  <!--Context variables to help determine which fields of the item add form to display-->
  <span hidden id="toppingsCount">{{ toppingsCount }}</span>
  <span hidden id="category">{{ category }}</span>
  <span hidden id="cheeseSteak">{{ cheesesteak }}</span>
  <div hidden>{{ form.order }}{{ form.item }}</div>

  {% crispy form %}
</form>


{% endblock %}
