{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<script>
  document.addEventListener('DOMContentLoaded', e => {
    let menuHeader = document.querySelector('#startMenu')
    menuHeader.querySelector('a').onClick = () => {
        window._paq.push('trackEvent', 'testTrack', 'didThisWork')
    }
  })
</script>
{% endblock %}
{% block title %}
Home
{% endblock %}

{% block body %}
<div class="hero-image" id="main-hero-image">
  <div class="hero-text">
    <h1 id="main-header">JS Pizza</h1>
    <p class="lead">Award Winning and Delicious!</p>
  </div>
  <div class="menuHeader" id="startMenu">
    {% if not user.username %}
    <p class="lead" id="userMenuLogin"><a href="users/">Login</a></p>
    {% endif %}
    <p class="lead"><a href="{% url 'loadMenu' %}">Menu</a></p>
    <p class="lead"><a href="{% url 'showAboutPage' %}">About</a></p>
  </div>
</div>
{% endblock %}
