{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
{% endblock %}
{% block title %}
Home
{% endblock %}

{% block body %}
<div class="hero-image" id="main-hero-image">
  <div class="hero-text">
    <h1 id="main-header">JS Pizza</h1>
    <p class="lead">Award Winning and Delicious!</p>
  </div>
  <div class="menuHeader" id="startMenu">
    {% if not user.username %}
    <p class="lead" id="userMenuLogin"><a href="users/" onClick={e =>
      {window._paq.push(["trackEvent", "testRetrieval", "linkClicked"])}>Login</a></p>
    {% endif %}
    <p class="lead"><a href="{% url 'loadMenu' %}">Menu</a></p>
    <p class="lead"><a href="{% url 'showAboutPage' %}">About</a></p>
  </div>
</div>
{% endblock %}
