{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script src="{% static 'scripts2.js' %}"></script>
{% endblock %}
{% block title %}
View Cart
{% endblock %}

{% block body %}

<h1 class="page-header mx-auto" id="orderListHeader"><i class="fas fa-tools"></i>Manage Orders</h1>
<h2 class="text-left">Pending</h2>
<table class="table" id="orderList">
  <thead>
    <th>Order Number</th>
    <th colspan="2">Items</th>
    <th>Total</th>
    <th colspan="2">Last Updated</th>
  </thead>
  <tbody class="selected">
  {% for order in orders %}
  {% if not order.completed %}
  <tr>
    <td>{{ order.id }}</td>
    <td colspan="2"><ul>
    {% for item in order.orderdetail_set.all %}
    <li>{{ item }}</li>
    {% endfor %}
    </ul></td>
    <td>${{ order.total }}</td>
    <td colspan="2">{{ order.lastUpdated }}<div id="itemEditOptions" class="dropdown">
      <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Manage</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" >Delete</a>
        <a class="dropdown-item">Mark As Complete</a>
        </div>
      </div>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
<button class="btn btn-primary" data-toggle="collapse" data-target="#completedOrders">Show Completed Orders</button>
<div id="completedOrders" class="collapse">
  <h2 class="text-left">Completed</h2>
  <table class="table" id="orderList">
    <thead>
      <th>Order Number</th>
      <th colspan="2">Items</th>
      <th>Total</th>
      <th colspan="2">Last Updated</th>
    </thead>
    <tbody class="selected">
    {% for order in orders %}
    {% if order.completed %}
    <tr>
      <td>{{ order.id }}</td>
      <td colspan="2"><ul>
      {% for item in order.orderdetail_set.all %}
      <li>{{ item }}</li>
      {% endfor %}
      </ul></td>
      <td>${{ order.total }}</td>
      <td colspan="2">{{ order.lastUpdated }}<div id="itemEditOptions" class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Manage</button>
        <div class="dropdown-menu">
          <a class="dropdown-item">Delete</a>
          <a class="dropdown-item">Mark As Complete</a>
          </div>
        </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
