{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script>
  document.addEventListener("DOMContentLoaded", () => {

    let orderList = document.querySelector("#orderList") ? document.querySelector("#orderList") : ''
    let deleteForm = document.querySelector("#deleteForm")
    let showCompletedButton = document.querySelector("button[data-target='#completedOrders']")
    showCompletedButton.onclick = e => {
      e.target.ariaExpanded == 'true' ? e.target.innerHTML = "Show Completed Orders" : e.target.innerHTML = "Hide Completed Orders"
    }

    if (orderList) {
      orderList.querySelectorAll("a[data-action='delete']").forEach(link => {
        link.addEventListener('click', e => {
          deleteForm.action = e.target.dataset.link
          deleteForm.submit()
        })
      })
    }
  })
</script>
{% endblock %}
{% block title %}
View Cart
{% endblock %}

{% block body %}

{% if msg %}
<div class="alert" role="alert">
  <p class="lead"><b>{{ msg }}</b></p>
</div>
{% endif %}

<h1 class="page-header mx-auto" id="orderListHeader"><i class="fas fa-tools"></i>Manage Orders</h1>
<h2 class="text-left">Pending</h2>
<table class="table" id="orderList">
  <thead>
    <th>Order Number</th>
    <th colspan="2">Items</th>
    <th>Total</th>
    <th colspan="2">Last Updated</th>
  </thead>
  <tbody class="selected">
  {% for order in orders %}
  {% if order.checkedOut %}
  {% if not order.completed %}
  <tr>
    <td>{{ order.id }}</td>
    <td colspan="2"><ul>
    {% for item in order.orderdetail_set.all %}
    <li>{{ item }}</li>
    {% endfor %}
    </ul></td>
    <td>${{ order.total }}</td>
    <td colspan="2">{{ order.lastUpdated }}<div id="itemEditOptions" class="dropdown">
      <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Manage</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" data-action="delete" data-link="deleteOrder/{{order.id}}/" >Delete</a>
        <a class="dropdown-item" href="markOrderComplete/{{order.id}}" >Mark As Complete</a>
        </div>
      </div>
    </td>
  </tr>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% if pending == 0 %}
  <tr>
    <td colspan="6" class="lead" id="emptyOrderMessage">No Pending Orders!</td>
  </tr>
  {% endif %}
  </tbody>
</table>
<button class="btn btn-primary" data-toggle="collapse" data-target="#completedOrders">Show Completed Orders</button>
<div id="completedOrders" class="collapse">
  <h2 class="text-left">Completed</h2>
  <table class="table" id="orderList">
    <thead>
      <th>Order Number</th>
      <th colspan="2">Items</th>
      <th>Total</th>
      <th colspan="2">Last Updated</th>
    </thead>
    <tbody class="selected">
    {% for order in orders %}
    {% if order.completed %}
    <tr>
      <td>{{ order.id }}</td>
      <td colspan="2"><ul>
      {% for item in order.orderdetail_set.all %}
      <li>{{ item }}</li>
      {% endfor %}
      </ul></td>
      <td>${{ order.total }}</td>
      <td colspan="2">{{ order.lastUpdated }}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

<!--Delete form and order complete form-->
<div hidden>
  <form id="updateForm" method="POST" action="">
  {% csrf_token %}
  <input type="submit" value="DELETE">
  </form>
  <form id="deleteForm" method="POST" action="">
  {% csrf_token %}
  <input type="submit" value="DELETE">
  </form>
</div>

{% endblock %}
