{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script src="{% static 'scripts3.js' %}"></script>
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}
Add Item
{% endblock %}

{% block body %}

<h1 class="specialHeader"><i class="fas fa-pizza-slice"></i>Add Item<button class="btn btn-primary">Back</button></h1>
<form class="form mx-auto" method="POST" id="orderForm">

  {% csrf_token %}

  <span hidden id="category">{{ category }}</span>
  <span hidden id="cheeseSteak">{{ cheesesteak }}</span>
  <div hidden>{{ form.order }}</div>

  {% crispy form %}

</form>


{% endblock %}
