{% extends 'base.html' %}
{% load static %}
{% block title %}
User Homepage
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>Welcome {{ user.username}}!</h1>
</div>
<div class="userMenu">
  <div><span><a href="loadMenu"><i class="fas fa-pizza-slice"></i></a></span><br><p>Create New Order</p>
  </div>
  <div><a href="viewCart"><i class="fas fa-shopping-cart"></i></a><br><p>View Cart / Order Status</p>
  </div>
  <div><i class="fas fa-history"></i><br><p>Past Order History</p>
  </div>
  <div><i class="fas fa-dollar-sign"></i><br><p>Check Current Deals</p>
  </div>
</div>

{% endblock %}
