{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script src="{% static 'scripts2.js' %}"></script>
{% endblock %}
{% block title %}
View Cart
{% endblock %}

{% block body %}

<h1>Manage Order</h1>
<table class="table">
  <thead>
    <th>Order Number</th>
    <th>User</th>
    <th>Amount</th>
    <th>Completed</th>
  </thead>
  <tbody>
  {% for order in object_list %}
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
