{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script>
  document.addEventListener("DOMContentLoaded", () => {

    //editing display of total
    let total = document.querySelector("#orderTotalRaw") ? parseInt(document.querySelector("#orderTotalRaw").innerHTML).toFixed(2) : ''
    let headerSpace = document.querySelector(".specialHeader")
    let checkOut = document.querySelector("#checkOut") ? document.querySelector("#checkOut") : ''
    //configure delete buttons
    document.querySelectorAll('.dropdown-item[data-action="delete"]').forEach(link => {
      link.addEventListener('click', e => {
        var deleteForm = document.querySelector("#deleteForm")
        deleteForm.action = e.target.dataset.link
        deleteForm.submit()
      })
    })

    //configure checkout button
    checkOut ? checkOut.querySelector("button").onclick = () => checkOut.querySelector("a").click() : ''

    //properly display order total - the value returned from the db sometimes trails
    total ? document.querySelector("#orderTotalDisplay").innerHTML = total : ''


    headerSpace.querySelector('button').addEventListener('click', () => {
      headerSpace.querySelector('a').click()
    })

  })
</script>
{% endblock %}
{% block title %}
View Cart
{% endblock %}

{% block body %}

{% if message %}
<div class="alert" role="alert">
  <p class="lead"><b>{{ message }}</b></p>
</div>
{% endif %}
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You're almost there!</h5>
      </div>
      <div class="modal-body">
        <p class="lead">Please choose one of the following</p>
        <div class="methodButtons"><button data-order-method="pickup" class="btn btn-primary">Pick Up</button><button data-order-method="delivery" class="btn btn-primary">Delivery</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
</div>
<h1 class="specialHeader"><i class="fas fa-shopping-cart"></i>Your Cart<button class="btn btn-primary">Back</button><a hidden href = "{% url 'loadMenu' %}"></a></h1>

  <table class="table" id="cartDisplay">
    <thead>
        <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Special Notes</th>
        <th>Item Total</th>
        </tr>
    </thead>
    {% if object_list %}
    <tbody>
      {% for detail in object_list %}
      <tr>
        <td>{{ detail.item }}</td>
        {% if detail.size %}
        <td>{{ detail.size }}</td>
        {% else %}
        <td>RG</td>
        {% endif %}
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.notes }}</td>
        <td>${{ detail.updateTotal }}<div id="itemEditOptions" class="dropdown">
          <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Edit</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-action="delete" data-link="deleteItem/{{ detail.id }}/" >Delete</a>
            <a class="dropdown-item" data-action="edit" href="editItem/{{ detail.id }}/">Update</a>
            </div>
  <!--<button id="{{ detail.id }}" class="btn btn-primary btn-sm">Update</button>-->
          </div>
        </td>
      </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <p hidden id="orderTotalRaw">{{ object_list.0.order.updateTotal }}</p>
        <tr>
        <td id="orderNumber" data-order="{{ object_list.0.order.id }}"><b>Order #: </b>{{ object_list.0.order.id }}</td>
        <td colspan="2"><b>Last Updated: </b>{{ object_list.0.order.lastUpdated }}</td>
        <td><b>Total: </b>$<span id="orderTotalDisplay"></span</td>
        <td id="checkOut"><button class="btn btn-primary" data-toggle="modal" data-target="#checkoutModal">Checkout</button></td>
          <!--<a hidden href="{% url 'checkOut' object_list.0.order.id %}"-->
        </tr>
      </tfoot>
  {% else %}
    <tbody id="emptyMessage">
      <tr>
      <td colspan="5" class="lead" id="emptyCartMessage"><b>Your cart is empty!</b></td>
      </tr>
    </tbody>
  {% endif %}
  </table>
  <!--Delete form-->
  <div hidden>
    <form id="deleteForm" method="POST" action="">
    {% csrf_token %}
    <input type="submit" value="DELETE">
    </form>
  </div>

{% endblock %}
