{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script>
  document.addEventListener("DOMContentLoaded", () => {

    //editing display of total
    let total = document.querySelector("#orderTotalRaw") ? parseFloat(document.querySelector("#orderTotalRaw").innerHTML).toFixed(2) : ''
    let headerSpace = document.querySelector(".specialHeader")
    let deliveryMethodOptions = document.querySelector(".methodButtons")
    let orderNumber = document.querySelector("#orderNumber") ? document.querySelector("#orderNumber").dataset.order : ''
    let checkOutButtonContainer = document.querySelector(".modal-footer")
    let methodChoice = "not chosen"
    let pageFooter = document.querySelector("tfoot")

    //configure delete buttons
    document.querySelectorAll('.dropdown-item[data-action="delete"]').forEach(link => {
      link.addEventListener('click', e => {
        var deleteForm = document.querySelector("#deleteForm")
        deleteForm.action = e.target.dataset.link
        deleteForm.submit()
      })
    })

    // configure delivery choice buttons in modal header
    deliveryMethodOptions.querySelectorAll("button").forEach(button => button.addEventListener('click', e => {
      var deliveryMethod = e.target.dataset.orderMethod
      methodChoice = deliveryMethod
      document.querySelectorAll("#methodChoice").forEach(span => span.innerHTML = deliveryMethod)
      deliveryMethodOptions.querySelector(".text-danger").style.display = "block" ? deliveryMethodOptions.querySelector(".text-danger").style.display = "none" : ''
      deliveryMethodOptions.querySelector('p').style.display = "block"
    }))
    //configure checkout button
    checkOutButtonContainer.querySelector("button").addEventListener("click", e => {
        if (methodChoice == "not chosen")
          deliveryMethodOptions.querySelector(".text-danger").style.display = "block"
        else {
          var checkoutForm = document.querySelector("#checkoutForm")
          checkoutForm.querySelector("#orderDeliveryMethod").value = methodChoice
          checkoutForm.querySelector("#orderToCheckout").value = orderNumber
          checkoutForm.submit()
        }
    })

    //properly display order total - the value returned from the db sometimes trails
    total ? document.querySelectorAll("#orderTotalDisplay").forEach(span => span.innerHTML = total) : ''

    //mobile styling
    if (document.querySelector("#checkOut") && document.querySelector("#checkOut").style.display == '') {
        var orderDetails = pageFooter.querySelector("tr")
        var tableHeader = document.querySelector("thead")
        var mobileEditMenu = document.querySelector("tr.collapse")
        orderDetails.querySelectorAll("td").forEach(cell => cell.colSpan = 2)
        tableHeader.querySelectorAll("th").forEach(header => {
          if (header.innerHTML == "Item Total") 
            header.style.display = "none"
          else if (header.innerHTML == "Name" || header.innerHTML == "Notes")
            header.colSpan = 2
          header.style.textAlign = "center"
        })
      document.querySelectorAll("#itemName").forEach(cell => cell.colSpan = 2)
      document.querySelectorAll("#itemNotes").forEach(cell => cell.colSpan = 2)

      mobileEditMenu.querySelectorAll("button").forEach(button => {
        button.addEventListener('click', e => e.target.parentElement.querySelector('a').click())
      })
    }
    
    headerSpace.querySelector('button').addEventListener('click', () => {
      headerSpace.querySelector('a').click()
    })

  })
</script>
{% endblock %}
{% block title %}
View Cart
{% endblock %}

{% block body %}

{% if message %}
<div class="alert" role="alert">
  <p class="lead"><b>{{ message }}</b></p>
</div>
{% endif %}
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You're almost there!</h5><button type="button" class="btn btn-primary" data-dismiss="modal">Back</button>
      </div>
      <div class="modal-body">
        <p>Please choose one of the following</p>
        <div class="methodButtons"><button data-order-method="Pickup" class="mr-5 btn btn-primary">Pick Up</button><button data-order-method="Delivery" class="btn btn-primary">Delivery</button>
          <p class="mt-3"><b>Selected: </b><span id="methodChoice"></span></p>
          <p id="errorMessage" class="mr-0 mt-2 text-danger"><b>Please select pickup or delivery</b></p>
        <div>
          <h5 class="mt-3 pt-3 border-top"><b>Order Summary</b></h5>
          <ul class="mt-3 pb-3 border-bottom">
            {% for detail in object_list %}
            {% if detail.item.category.name == "PZA" %}
            <li class="mt-2">{{ detail }}
              <ul>
                {% for topping in detail.toppings.all %}
                <li>{{topping}}</li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li class="mt-2">{{ detail }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        </div>
      </div>
      <div id="orderSummary">
        <p><b>Order #: </b>{{ object_list.0.order.id }}</p>
        <p><b>Method: </b><span id="methodChoice">Not Chosen</span></p>
        <p><b>Total: </b>$<span id="orderTotalDisplay"></span></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Place Order</button>
      </div>
  </div>
</div>
</div>
<!--<div class="modal fade" id="itemEditModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-pizza-slice"></i>Edit Cart Item</h5><button type="button" class="btn btn-primary" data-dismiss="modal">Back</button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>-->
<h1 class="specialHeader"><i class="fas fa-shopping-cart"></i>Your Cart<button class="btn btn-primary">Back</button><a hidden href = "{% url 'loadMenu' %}"></a></h1>

  <table class="table" id="cartDisplay">
    <thead>
        <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Notes</th>
        <th>Item Total</th>
        </tr>
    </thead>
    {% if object_list %}
    <tbody>
      {% for detail in object_list %}
      <tr>
        <td id="itemName">{{ detail.item }}</td>
        {% if detail.size %}
        <td>{{ detail.size }}</td>
        {% else %}
        <td>RG</td>
        {% endif %}
        <td>{{ detail.quantity }}</td>
        <td id="itemNotes">{{ detail.notes }}</td>
        <td id="itemEditDesktop">${{ detail.updateTotal }}<div class="dropdown">
          <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Edit</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-action="delete" data-link="{% url 'deleteOrderItem' detail.id %}" >Delete</a>
            <a class="dropdown-item" data-action="edit" href="{% url 'editItem' detail.id %}">Update</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td id="itemEditMobile" colSpan=6><b>Item Total: </b>${{ detail.updateTotal }}
            <button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#itemEditMenu{{detail.id}}">Edit</button>
        </td>
      </tr>
      <tr id="itemEditMenu{{detail.id}}" class="collapse">
        <td colspan=3><button class="btn btn-primary">Update Item</button><a hidden href="{% url 'editItem' detail.id %}"></a></td>
        <td colspan=3><button class="btn btn-primary">Delete Item</button><a hidden href="{% url 'deleteOrderItem' detail.id %}"></a></td>
      </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <p hidden id="orderTotalRaw">{{ object_list.0.order.updateTotal }}</p>
        <tr>
          <td id="orderNumber" data-order="{{ object_list.0.order.id }}"><b>Order #: </b>{{ object_list.0.order.id }}</td>
          <td colspan="2" id="lastUpdated"><b>Last Updated: </b>{{ object_list.0.order.lastUpdated }}</td>
          <td><b>Total: </b>$<span id="orderTotalDisplay"></span></td>
          <td id="checkOut"><button class="btn btn-primary" data-toggle="modal" data-target="#checkoutModal">Checkout</button></td>
        </tr>
        <tr id="mobileCheckOut">
          <td colspan=6><button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#checkoutModal">Checkout</button></td>
        </tr>
      </tfoot>
  {% else %}
    <tbody id="emptyMessage">
      <tr>
      <td colspan="5" class="lead" id="emptyCartMessage"><b>Your cart is empty!</b></td>
      </tr>
    </tbody>
  {% endif %}
  </table>
  <!--Delete form-->
  <div hidden>
    <form id="deleteForm" method="POST" action="">
    {% csrf_token %}
    <input type="submit" value="DELETE">
    </form>
  </div>
  <div hidden>
    <form id="checkoutForm" action="{% url 'checkOut' %}" method="post">
      {% csrf_token %}
      <input name="orderToCheckout" id="orderToCheckout">
      <input name="orderDeliveryMethod" id="orderDeliveryMethod">
    </form>
  </div>

{% endblock %}
