{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script src="{% static 'scripts2.js' %}"></script>
{% endblock %}
{% block title %}
View Cart
{% endblock %}

{% block body %}

{% if message %}
<div class="alert" role="alert">
  <p class="lead"><b>{{ message }}</b></p>
</div>
{% endif %}
<h1 class="specialHeader"><i class="fas fa-shopping-cart"></i>Your Cart<button class="btn btn-primary">Back</button><a hidden href = "{% url 'loadMenu' %}"></a></h1>

  <table class="table" id="cartDisplay">
    <thead>
        <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Special Notes</th>
        <th>Item Total</th>
        </tr>
    </thead>
    {% if object_list %}
    <tbody>
      {% for detail in object_list %}
      <tr>
        <td>{{ detail.item }}</td>
        {% if detail.size %}
        <td>{{ detail.size }}</td>
        {% else %}
        <td>RG</td>
        {% endif %}
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.notes }}</td>
        <td>${{ detail.updateTotal }}<div id="itemEditOptions" class="dropdown">
          <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Edit</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-action="delete" data-link="deleteItem/{{ detail.id }}/" >Delete</a>
            <a class="dropdown-item" data-action="edit" href="editItem/{{ detail.id }}/">Update</a>
            </div>
  <!--<button id="{{ detail.id }}" class="btn btn-primary btn-sm">Update</button>-->
          </div>
        </td>
      </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <p hidden id="orderTotalRaw">{{ object_list.0.order.updateTotal }}</p>
        <tr>
        <td id="orderNumber" data-order="{{ object_list.0.order.id }}"><b>Order #: </b>{{ object_list.0.order.id }}</td>
        <td colspan="2"><b>Last Updated: </b>{{ object_list.0.order.lastUpdated }}</td>
        <td><b>Total: </b>$<span id="orderTotalDisplay"></span</td>
        <td><button class="btn btn-primary">Checkout</button></td>
        </tr>
      </tfoot>
  {% else %}
    <tbody id="emptyMessage">
      <tr>
      <td colspan="5" class="lead" id="emptyCartMessage"><b>Your cart is empty!</b></td>
      </tr>
    </tbody>
  {% endif %}
  </table>
  <!--Delete form-->
  <div hidden>
    <form id="deleteForm" method="POST" action="">
    {% csrf_token %}
    <input type="submit" value="DELETE">
    </form>
  </div>

{% endblock %}
