{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block body %}

<div class="signUpForm">
  <h4 class="display-4">Login</h4>
  <form class="form" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label>Username</label>
    <br>
    <input type="text" name="username">
    <br>
    <label>Password</label>
    <br>
    <input type="password" name="password">
    <br>
    <br>
    <button class='btn btn-primary' type="submit">Login</button>
  </form>
  <a href="register">No account yet?</a>
</div>
{% endblock %}
