{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script>

  // function to display error message
  let displayErrorMessage = (fieldWithError, errorMessage, errorMessageSpace) => {

    fieldWithError.style.border = "2px solid red"
    errorMessageSpace.innerHTML = errorMessage
    errorMessageSpace.style.display = "block"

  }

  document.addEventListener("DOMContentLoaded", () => {

    
    let alert = document.querySelector(".alert") ? document.querySelector(".alert") : ''

    alert ? alert.querySelector('button').onclick = () => alert.querySelector('a').click() : ''

    if (window.screen.width < 600) {
      var loginButton = document.querySelector("button")
      loginButton.className += " btn-lg"
      loginButton.style.width = "100%"
      loginButton.style.marginTop = "25px"
      loginButton.style.marginBottom = "25px"
    }
  })

</script>
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}
Login
{% endblock %}

{% block body %}

{% if message %}
<div class="alert" role="alert">
  <p class="lead"><b>{{ message }}</b><button class="btn btn-primary">New Account</button><a hidden href="{% url 'register'%}"></a></p>
</div>
{% endif %}
<div class="signUpForm">
  <h1 class="mx-auto"><i class="far fa-user"></i>Login</h1>
  <form class="form mx-auto" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="lead" for="username">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
    <label class="lead" for="password">Password</label>
    <input type="password" class="form-control" name="password">
    </div>
    <div>
    <p class="lead text-danger"></p>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button class='btn btn-primary' type="submit">Login</button>
    </div>
  </form>
  <a class="lead" href="register?next={{request.GET.next}}">No account yet?</a>
</div>
{% endblock %}
