{% extends 'base.html' %}
{% load static %}
{% block staticfile %}
<script>

  // function to display error message
  let displayErrorMessage = (fieldWithError, errorMessage, errorMessageSpace) => {

    fieldWithError.style.border = "2px solid red"
    errorMessageSpace.innerHTML = errorMessage
    errorMessageSpace.style.display = "block"

  }

  document.addEventListener("DOMContentLoaded", () => {

    let registerButton = document.querySelector("button")
    let registerForm = document.querySelector("form")
    let errorMessageSpace = document.querySelector(".text-danger")

    // resize button for mobile
    if (window.screen.width < 600) {
      var loginButton = document.querySelector("button")
      loginButton.className += " btn-lg"
      loginButton.style.width = "100%"
      loginButton.style.marginTop = "25px"
      loginButton.style.marginBottom = "25px"
    }

    registerButton.onclick = e => {
      e.preventDefault()
      var validInput = true
      document.querySelectorAll('input').forEach(input => {
        input.style.border = ''
        if (input.name != "next") {
            if (!input.value) {
              displayErrorMessage(input, "Please fill out indicated field(s)", errorMessageSpace)
              validInput = false
            }
        }

      })
      if (validInput) {

        if (document.querySelector("#new_password").value != document.querySelector("#confirm_password").value) {
          displayErrorMessage(document.querySelector("#new_password"), "Passwords do not match", errorMessageSpace)
          document.querySelector("#confirm_password").style.border = "2px solid red"
          validInput = false
        }
        else if (!document.querySelector("#email").value.includes("@")) {
          displayErrorMessage(document.querySelector("#email"), "Invalid email address", errorMessageSpace)
          validInput = false
        }
      }

      if (validInput)
        registerForm.submit()
    }

  })

</script>
{% endblock %}
{% block title %}
Register
{% endblock %}

{% block body %}

{% if message %}
<div class="alert" role="alert">
  <p class="lead"><b>{{ message }}</b></p>
</div>
{% endif %}
<div class="signUpForm">
  <h1 class="mx-auto"><i class="far fa-user"></i>Sign Up</h1>
  <form class="form mx-auto" action="{% url 'register_confirm' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="lead" for="username">Username</label>
      <input type="text" class="form-control" name="new_username">
    </div>
    <div class="form-group">
    <label class="lead" for="password">Email</label>
    <input type="email" class="form-control" name="email" id="email">
    </div>
    <div class="form-group">
    <label class="lead" for="password">Password</label>
    <input type="password" class="form-control" name="new_password" id="new_password">
    </div>
    <div class="form-group">
    <label class="lead" for="password">Confirm Password</label>
    <input type="password" class="form-control" name="confirm_password" id="confirm_password">
    </div>
    <div>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button class='btn btn-primary' type="submit">Create Account</button>
    <p class="lead text-danger"></p>
    </div>
  </form>
  <a class="lead" href="/users/?next={{ request.GET.next }}">Already have an account?</a>
</div>

{% endblock %}
