body, html {
  text-align: center;
  min-height: 100%;
  position: relative;
}

.navbar {
  background-image: linear-gradient(to right, #bf0000, red);
}

i {
  margin-right: 10px;
}

.footer-details {
  height: 50%;
}

.page-header {
  margin-top: 50px;
}

.container {
  min-height: 75vh;
  overflow: hidden;
  display: block;
  z-index: -1;
}

footer > div {
  height: 75%;
  border-top: 1px solid white;
  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.userMenu {
  font-size: 125px;
  margin-top: 125px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.userMenu p {
  margin-top: 25px;
  font-size: 20px;
}

.userMenu a {
  color: black;
}

.footer-details > p {
  margin-top: 15px;
}

.signUpForm {
  margin-top: 100px;
  margin-bottom: 50px;
}
.signUpForm > a {
  color: black;
}

#belowSignUpForm {
  padding-top: 30px;
  border-top: 1px solid black;
}

.btn-primary {
  background-color: #bf0000;
  border: black;
}

#restaurant-pic {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-image: url("images/pizza_restaurant_photo.jpg");
  background-size: cover;
  z-index: -1;
}

footer {
  color: white;
  height: 175px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, #bf0000, red);
}

.navbar > a {
  color: white;
  font-weight: bold;
}

.nav-item > a {
  color: white;
}

#userDetails {
  color: white;
  margin-right: 50px;
}

table {
  columns: 6;
}
