body, html {
  text-align: center;
  min-height: 100%;
  position: relative;
}

.navbar {
  background-image: linear-gradient(to right, #bf0000, red);
}

i {
  margin-right: 10px;
}

.footer-details {
  height: 50%;
}

.page-header {
  margin-top: 50px;
}

.specialHeader button {
  margin-left: 25px;
}

.stripe-button-el span {
  background: #bf0000 !important;
  border: none !important;
  font-family: sans-serif !important;
  font-size: 16px; !important;
  font-weight: normal !important;
  height: 36px !important;
  padding: .375rem .75rem !important;
}

.container {
  min-height: 75vh;
  display: block;
  z-index: -1;
}

footer div {
  height: 75%;
  border-top: 1px solid white;
  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.userMenu {
  font-size: 125px;
  margin-top: 125px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menuHeader {
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menuHeader p {
  margin-bottom: 0px;
  cursor: pointer;
}

.menuHeader p:hover {
  font-weight: bold;
}

.userMenu p {
  margin-top: 25px;
  font-size: 20px;
}

.userMenu a {
  color: black;
}

.footer-details > p {
  margin-top: 15px;
}

.signUpForm {
  margin-top: 100px;
  margin-bottom: 50px;
}

.signUpForm form {
  width: 55%;
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

.signUpForm h1 {
  width: 55%;
  margin-bottom: 4%;
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

.signUpForm a {
  color: black;
}

.signUpForm div.form-group {
  text-align: left;
}

.signUpForm div {
  text-align: right;
}

#belowSignUpForm {
  padding-top: 30px;
  border-top: 1px solid black;
}

.btn-primary {
  background-color: #bf0000;
  border: black;
}

#restaurant-pic {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-image: url("images/pizza_restaurant_photo.jpg");
  background-size: cover;
  z-index: -1;
}

footer {
  color: white;
  height: 175px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, #bf0000, red);
}

.navbar > a {
  color: white;
  font-weight: bold;
}

.nav-item > a {
  color: white;
}

#userDetails {
  color: white;
  margin-right: 50px;
}

table {
  columns: 6;
  table-layout: fixed;
}

tbody {
  display: none;
}

tbody button {
  margin-left: 30px;
}

.selected {
  display: table-row-group;
}

.specialHeader {
  width: 65%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 3%;
  border-bottom: 1px solid black;
  padding-bottom: 2%;
}

#orderForm label {
  font-size: 18px;
  padding: 10px;
}

#orderForm {
  width: 65%;
}

#orderForm button {
  margin-top: 20px;
}

tfoot > tr {
  background-color: rgba(0,0,0,.10);
}

#cartDisplay tbody {
  display: table-row-group;
}

.alert {
  height: 7%;
  margin-top: 10px;
}

.alert button {
  margin-left: 15px;
}

td .fa-trash {
  margin-left: 15%;
}

#emptyMessage::before {
  content: '';
  display: block;
  height: 50px;
}

tfoot::before {
  content: '';
  display: block;
  height: 100px;
}

#paymentConfirm {
  display: none;
}

#paymentConfirm p {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

.buttonHolder {
  border-top: 1px solid black;
}

.buttonHolder input {
  margin-top: 3%;
}

#itemEditOptions {
  display: inline;
  float: right;
}
