{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><em>Pinochio's Pizza</em></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
    </ul>
  </nav>
  <body>
    <div class="container">
    <div id="restaurant-pic"></div>
    {% block body %}
    {% endblock %}
    </div>
  </body>
  <footer>
    <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav">
        <li class="nav-item">Location: 123 Fake St. Anywhere, USA</li>
        <li class="nav-item">Hours: 11AM - 2AM, Every Day</li>
        <li class="nav-item">Serving the community since 1985!</li>
      </ul>
    </nav>
  </footer>
</html>
